.wow {
  width: 100px;
}

#eventos {
  margin-top: 15px;
}

#seja_raro {
  margin-bottom: 10px;
  margin-top: -5px;
}

div {
  margin-left: 40px;
}

#niver {
  margin-top: -5px;
}

#embed {
  display: block;
  margin-bottom: 25px;
}